<div *ngIf="selectedFlight">
  <h3>Purchase this flight</h3>
  <div class="row">
    <div class="col-md-2 col-xs-4 form-label">Flight Number : </div>
    <div class="col-md-1 col-xs-8">{{selectedFlight?.flightNumber}}</div>
    <div class="col-md-1 col-xs-4 form-label">Origin&nbsp;:</div>
    <div class="col-md-1  col-xs-8">{{selectedFlight?.origin}}</div>
    <div class="col-md-1 col-xs-4 form-label">Destination&nbsp;:</div>
    <div class="col-md-1  col-xs-8">{{selectedFlight?.destination}}</div>
  </div>
  <div class="row">
    <h4 class="col-md-1 col-xs-4 form-label">Departure: </h4>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-4 form-label">Day: </div>
    <div class="col-md-1 col-xs-8">{{selectedFlight?.departDay}}</div>
    <div class="col-md-1 col-xs-4 form-label">Time: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight?.departTime}}</div>
  </div>
  <div class="row">
    <h4 class="col-md-1 col-xs-4 form-label">Arrive: </h4>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-4 form-label">Day: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight?.arriveDay}}</div>
    <div class="col-md-1 col-xs-4 form-label">Time: </div>
    <div class="col-md-1  col-xs-8">{{selectedFlight?.arriveTime}}</div>
  </div>
</div>


<div class="row">
  <div class="form-outline col-md-12">
    <form #paymentForm="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="model.name">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea class="form-control" id="address" name="address" placeholder="Address" rows="4" [(ngModel)]="model.address"></textarea>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="model.email">
      </div>

      <div class="form-group">
        <label for="cardNum">Card Number</label>
        <input type="text" class="form-control" id="cardNum" name="cardNum" placeholder="Card Number" [(ngModel)]="model.cardNum">
      </div>
      <div class="form-group">
        <label for="cardType">Card Type</label>
        <select type="text" class="form-control" id="cardType" name="cardType" placeholder="Card Type" [(ngModel)]="model.cardType">
          <option>VISA</option>
          <option>AMEX</option>
        </select>
      </div>
      <div class="form-group">
        <label for="expDate">Card Expiry</label>
        <input type="month" class="form-control" id="expDate" name="expDate" [(ngModel)]="model.expDate">
      </div>
      <button [disabled] = "!paymentForm.form.valid" type="submit" class="btn btn-default" required>Buy Flight {{jsonModel}} {{paymentForm.form.valid}}</button>
    </form>

  </div>
</div>
